* {
    margin: 0;
    padding: 0;
}

$darkyellow: #efb016;
$darkgrey: #141f3c;

.accordion__container {
    width: 100%;
    height: 600px;
    margin: 0 auto;

    @media screen and (min-width: 1170px) {
        width: 1070px;
        margin: 0 auto;
    }

    .accordion {
        &__list {
            display: flex;
        }
    }
}



.acordion__item {
    /* border: 1px solid green; */
    height: 600px;
    width: 20%;
    list-style-type: none;
    transition: all 1000ms ease;
    position: relative;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    color: white
}

.acordion__item__hover {
    width: 70%;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    color: $darkgrey;
}

.acordion__item:first-of-type:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("image/image1.jpg");
    filter: grayscale(0);
}

.acordion__item:nth-of-type(2) {
    background: url("image/image2.jpg");
}

.acordion__item:nth-of-type(3) {
    background: url("image/image3.jpg");
}

.acordion__item:nth-of-type(4) {
    background: url("image/image4.jpg");
}

.acordion__item:nth-of-type(5) {
    background: url("image/image5.jpg");
}

.accordion__text {
    position: relative;
    height: 600px;
    /* background-color: yellow; */
}

.accordion__text p {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 70px 70px;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 23.5%;
    margin: 0;
    font-family: Calibri;
    font-size: 30px;
    z-index: 3000;
    // color: white
}

.yellowBack {
    background-color: $darkyellow;
    width: 100px;
    transition: all 1000ms ease;
}

.yellowBack {
    /* background-color: yellow; */
    /* width: 15%; */
    /* height: 20vw; */
}